.contenedor-equipos{
    display: flex;
    flex-direction: column;
    height: auto;
    margin-bottom: 40px;
}

.titulo{
    font-size: 40px;
    color: #fff;
    background-color: #0c8129;
    padding: 8px;
    border-radius: 20px;
    font-weight: bold;
    letter-spacing: 2px;
    text-align: center;
}

.equipos{
    display: flex;
    align-items: flex-start;
    justify-content: center;
    margin: auto;
    margin-top: 16px;
    color: #fff;
    gap: 30px;
    width: 500px;
    padding: 12px;
    background: rgba(0, 0, 0, 0.603);
    gap: 50px;
}

.equipos ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    text-align: center;
}

.equipos ul li{
    max-width: auto;
    margin-top: 10px;
    font-size: 18px;
}

.contenedor-equipos button{
    border: none;
    color: #fff;
    width: 120px;
    padding: 10px;
    border-radius: 20px;
    background-color: #da2f18;
    margin: auto;
    margin-top: 15px;
    cursor: pointer;
}

@media(max-width:800px){
    .titulo{
        background-color: #fff;
        color: #0c8129;
        font-size: 25px;
    }
}